#canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ply-button {
    display:block;
    width:120px; 
    height:30px;
}

#json-button {
    display:block;
    width:120px; 
    height:30px;
}

#header-1 {
    margin: 1rem;
}

.file-buttons {
    display:none
}

.input-buttons {
    height: fit-content !important;
    width: fit-content !important;
}

.input-margin {
    margin: 0.5rem;            
}

.file-ph {
    width: 20rem;
    padding: 0.2rem;
}

.flex {
    display: flex;
}
